#cc-main{
    /* START: Vertical align modal */
    [class*="top"]{
        top: .65em;
    }

    [class*="middle"]{
        top: 50%;
        transform: translateY(-50%);
    }

    [class*="bottom"]{
        bottom: .65em;
    }
    /* END: Vertical align modal */

    /* START: Horizontal align modal */
    [class*="center"]{
        left: .65em;
        right: .65em;
        margin: 0 auto;
        width: 100%; 	/*IE11*/
        width: unset; 	/*IE11*/
    }

    [class*="left"]{
        left: .65em;
        margin-right: .65em;
    }

    [class*="right"]{
        right: .65em;
        margin-left: .65em;
    }
    /* END: Horizontal align modal */

    .cm{
        opacity: 0;
        position: fixed;
        max-width: 24em;
        display: flex;
        flex-direction: column;
        background: var(--cc-bg);
        border-radius: var(--cc-modal-border-radius);
        z-index: 1;
        overflow: hidden;
        box-shadow: 0 0.625em 1.875em rgb(0, 0, 2, .4);
        visibility: hidden;
        opacity: 0;
        transition: none;
    }

    .cm__body{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .cm__texts,
    .cm__btns,
    .cm__links{
        width: 100%;  /*IE11*/
        width: unset; /*IE11*/
        padding: 1em 1.4em;
    }

    /* START: Close (x) icon */
    .cm__close{
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 2.7em;
        height: 2.7em;
        border-bottom-left-radius: 0.5em;
        border-left: 1px solid var(--cc-btn-secondary-border-color);
        border-bottom: 1px solid var(--cc-btn-secondary-border-color);
        background: var(--cc-btn-secondary-bg);
        transition: all .15s ease;

        &:hover{
            background: var(--cc-btn-secondary-hover-bg);
            border-color: var(--cc-btn-secondary-hover-border-color);
        }

        &-icon{
            width: auto;
            height: 38%;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 50%;
            border-radius: 100%;
            transform: translateY(-50%);
        }
    }
    /* END: Close (x) icon */

    .cm__texts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: auto;
    }

    .cm__title{
        font-size: 1.05em;

        &+.cm__desc{
            margin-top: .9em;
        }
    }

    .cm__desc{
        color: var(--cc-secondary-color);
        line-height: 1.5;
        font-size: .9em;
    }

    /* START: Buttons section */
    .cm__btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 1px solid var(--cc-separator-border-color);

        /* START - Align buttons vertically */
        &--vertical {
            .cm__btn-group{
                flex-direction: column;
            }

            .cm__btn{
                &:nth-child(2){
                    margin: 0.4em 0 0 0;
                }
            }
        }
        /* END - Align buttons vertically */
    }

    .cm__btn-group{
        display: flex;

        &:nth-child(2){
            margin: .4em 0 0 0;
        }
    }

    .cm__btn{
        color: var(--cc-btn-primary-color);
        background: var(--cc-btn-primary-bg);
        border: 1px solid var(--cc-btn-primary-border-color);
        text-align: center;
        flex: 1;
        font-weight: 600;
        font-size: .82em;
        padding: .85em 1em;
        border-radius: var(--cc-btn-border-radius);
        transition: background-color .15s ease,
                    border-color .15s ease;

        &:nth-child(2){
            margin: 0 0 0 .4em;
        }

        &:hover{
            background: var(--cc-btn-primary-hover-bg);
            border-color: var(--cc-btn-primary-hover-border-color);
        }

        /* Secondary btn colors */
        &--secondary{
            color: var(--cc-btn-secondary-color);
            background: var(--cc-btn-secondary-bg);
            border-color: var(--cc-btn-secondary-border-color);

            &:hover{
                background: var(--cc-btn-secondary-hover-bg);
                border-color: var(--cc-btn-secondary-hover-border-color);
            }
        }
    }

    .cm__footer{
        color: var(--cc-footer-color);
        background: var(--cc-footer-bg);
        border-top: 1px solid var(--cc-footer-border-color);
        padding: .4em 0;
    }

    .cm__links{
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
    }

    .cm__link-group{
        font-size: .8em;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;

        &>*:not(:first-child){
            margin-left: 1.3em;
        }
    }

    /* START: Box layout */
    .cm--box{
        &-wide{
            max-width: 36em;

            .cm__btns{
                flex-direction: row;
                justify-content: space-between;

                &--vertical{
                    flex-direction: column;

                    /* TODO: this is a long-ass selector ... */
                    /* #cc-main .cm--box-wide .cm_btns--vertical .cm__btn-group:nth-child(2) */
                    .cm__btn-group:nth-child(2){
                        margin: .4em 0 0 0 ;
                    }
                }
            }

            .cm__btn-group:nth-child(2){
                margin: 0 0 0 .4em
            }

            .cm__btn{
                flex: auto;
                padding-right: 1.8em;
                padding-left: 1.8em;
            }

            .cm__link-group{
                justify-content: start;
            }
        }
    }
    /* END: Box layout */

    /** START: Cloud layout **/
    .cm--cloud{
        width: 100%;  /* IE11 */
        width: unset; /* IE11 */
        max-width: 54em;

        .cm__body{
            flex-direction: row;
        }

        .cm__btns{
            border-top: none;
            border-left: 1px solid var(--cc-separator-border-color);
            min-width: 280px;
        }

        .cm__btn{
            flex: auto;
            padding: .85em 1.7em;
        }

        .cm__link-group{
            justify-content: flex-start;
        }
    }
    /* END: Cloud layout */

    /* START: Bar layout */
    .cm--bar,
    .cm--bar-thin{
        max-width: 100%;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        transform: translateY(0);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .cm__body,
        .cm__links{
            max-width: 45em;
            margin: 0 auto;
            width: 100%
        }

        .cm__body{
            padding: 0 0 0.3em 0;
        }

        .cm__btns{
            border-top: none;
            flex-direction: row;
            justify-content: space-between;
        }

        .cm__btn-group:nth-child(2){
            margin: 0 0 0 .4em;
        }

        .cm__btn{
            flex: auto;
            padding-right: 2em;
            padding-left: 2em;
        }

        .cm__link-group{
            justify-content: flex-start;
        }
    }

    .cm--bar-thin{

        .cm__body,
        .cm__links{
            max-width: 74em;
        }

        .cm__body{
            padding: 0;
            flex-direction: row;
        }

        .cm__btns{
            flex-direction: column;
            justify-content: center;
        }

        .cm__btn-group:nth-child(2){
            margin: .4em 0 0 0;
        }
    }
    /* END: Bar layout */

    &.c--anim{
        .cm,
        .cm-wrapper::before{
            transition: opacity .3s ease,
                    visibility .3s ease,
                    transform .6s cubic-bezier(0.23, 1, 0.32, 1);
        }
    }
}

/* START: Dark overlay */
.disable--interaction #cc-main .cm-wrapper::before{
    content: '';
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background: var(--cc-overlay-bg);
}
/* END: Dark overlay */

#cc-main{

    .cm{
        transform: translateY(var(--cc-translate-y)) scale(.98);
    }

    [class*=middle]{
        transform: translateY(calc(-50% + var(--cc-translate-y))) scale(.98);
    }

    .cm--bar{
        top: auto;
        opacity: 1;
        transform: translateY(100%);
    }
}

.show--consent{
    #cc-main {
        &.c--anim{
            .cm{
                opacity: 1;
                visibility: visible!important;
                transform: translateY(0);
            }

            [class*=middle]{
                transform: translateY(-50%);
            }

            .cm-wrapper::before{
                opacity: 1;
                visibility: visible;
            }

            .cm--bar{
                transform: translateY(0);
            }
        }
    }
}


@media screen and (max-width: 640px){
	#cc-main   {

        [class*="left"]{
            right: 0em;
        }

        [class*="right"]{
            left: 0em;
        }

        .cm{

            max-width: 100%;
            width: auto;

            &__btn-group{
                flex-direction: column;

                &:nth-child(2){
                    margin: .4em 0 0 0;
                }
            }

            &__btn{
                flex: auto; /* IE 11 */

                &:nth-child(2){
                    margin: .4em 0 0 0;
                }
            }
        }

        .cm--box{
            &-wide{
                .cm__btns{
                    flex-direction: column;
                }

                .cm__btn-group:nth-child(2){
                    margin: .4em 0 0 0;
                }

                .cm__link-group{
                    justify-content: center;
                }
            }
        }

        .cm--cloud{
            [class*="center"]{
                width: auto; /* IE11 */
            }

            .cm__body{
                flex-direction: column;
            }

            .cm__btns{
                min-width: auto;
                max-width: none; /* IE 11 */
                border-left: none;
                border-top: 1px solid var(--cc-separator-border-color);
            }

            .cm__link-group{
                justify-content: center;
            }
        }

        .cm--bar{

            .cm__body{
                padding: 0;
            }

            .cm__btns{
                border-top: 1px solid var(--cc-separator-border-color);
                flex-direction: column;
            }

            .cm__btn-group:nth-child(2){
                margin: .4em 0 0 0;
            }

            .cm__link-group{
                justify-content: center;
            }

            &-thin{
                .cm__body{
                    flex-direction: column;
                }

                .cm__btns{
                    border-top: 1px solid #f1f1f1;
                }
            }
        }
	}
}