#downloadConfigBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(74, 195, 124, 0.05);
    color: #4ac37c;
    border-color: rgba(74, 195, 104, 0.32);

    span {
        margin-right: .6rem;
    }

    svg {
        display: block;

        > g {
            stroke: currentColor;
        }
    }

    &:hover,
    &:focus {
        background: #4ac37c;
        border-color: #4ac37c;
        color: #000;
    }

    &:active {
        transition: none;
        background: #357a52;
        border-color: #357a52;
        color: #000;
    }


}

.highlight--yellow {
    color: rgb(255, 200, 118);
    background: rgba(187, 160, 119, 0.251);
}

.highlight--green {
    color: #65c98e;
    background: rgba(213, 255, 230, 0.13);
}