code {
    background: rgba(40, 130, 171, 0.231);
    color: #81d2f7;
    padding: 2px 4px;
    border-radius: 0.3rem;
    font-size: .9rem;
}

.code-block {
    display: block;
    white-space: pre;
    width: 100%;
    overflow: auto;
    max-width: 600px;
    padding: 1rem;
    color: #78cd76;
    background: #141414;
    line-height: 1.1rem;
}

#downloadConfigBtn {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    justify-content: space-between;
    background: rgba(74, 195, 124, 0.05);
    color: #4ac37c;
    border-color: rgba(74, 195, 104, 0.32);

    svg {
        display: block;

        > g {
            stroke: currentColor;
        }
    }

    &:hover,
    &:focus {
        background: #4ac37c;
        border-color: #4ac37c;
        color: #000;
    }

    &:active {
        transition: none;
        background: #357a52;
        border-color: #357a52;
        color: #000;
    }


}

.highlight--yellow {
    color: rgb(255, 200, 118);
    background: rgba(187, 160, 119, 0.251);
}

.highlight--green {
    color: #65c98e;
    background: rgba(213, 255, 230, 0.13);
}