.translations-editor {
    height: 100%;
    overflow: auto;
}


[data-current-translation="ar"] .translation-btn--ar,
[data-current-translation="en"] .translation-btn--en,
[data-current-translation="de"] .translation-btn--de,
[data-current-translation="es"] .translation-btn--es,
[data-current-translation="fr"] .translation-btn--fr,
[data-current-translation="it"] .translation-btn--it {
    background-color: #396af9;
    border-color: #4b76f5;
    color: #fff;
}

.translation-editor {
    overflow: auto;
    padding: 0 1rem 1rem 1rem;
}

.editor {
    display: flex;
    flex-direction: column;
    flex: 1;

    & > * + * {
        margin-top: .3rem;
    }

    & > input,
    & > textarea {
        background: #363636;
        padding: .7rem 1rem;
        border-radius: .4rem;
        border: none;
        font-family: inherit;
        color: inherit;
    }

    & > textarea {
        min-height: 5rem;
        max-height: 10rem;
        resize: vertical;
        width: 100%!important;
    }

    h2 {
        margin-bottom: .5rem;
    }

    + .editor {
        margin-top: 1.5rem;
    }
}

#editor-language-codes {
    width: 100%;
    max-width: 100px;
}

.pm-section {
    gap: .3rem;

    & > * {
        display: block;
        width: 100%;

        & + * {
            margin-top: .3rem;
        }
    }
}

.pm-section-delete-btn {
    width: auto;
}