@import './assets/shiki.css';

* {
    box-sizing: border-box;
}

html{
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgba(244, 253, 255, 0.7);
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    width: 100vw;
    overflow-x: hidden;
    background-color: #000;
    color-scheme: dark!important;
    scrollbar-width: thin;
}

:root{
    --d-gap: 10px;
    --d-border-radius: 6px;
}

body{
    width: 100vw;
    overflow-x: hidden;
    max-width: 700px;
    margin: 0 auto;
    padding: 12px;
    width: 100vw;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

h1,
h2 {
    font-weight: 600;
    color: #e1e4e7;
}

h2 {
    margin: 0 0 1.5rem 0;
    font-size: 1.2rem;
}

p {
    margin: 0
}


b{
    font-weight: 600;
}

label {
    font-weight: 400;
    font-size: .9em;
}


.warning {
    background: rgba(255, 231, 201, 0.144);
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    font-size: .9rem;

    border: 1px solid rgba(255, 231, 143, 0.09);
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.warning-title {
    color: #ffe78f;
    font-size: 1rem;
    font-weight: 600;
}

.checkbox-div {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: .2rem;
}

.checkbox-div  input {
    margin: 0;
}

.auto-language {
    border-top: 1px dashed rgba(241, 245, 255, 0.11);
    padding-top: 1rem;
}

.auto-language__details{
    margin-top: 1rem;
    font-size: .9rem;
    line-height: 1.5;
    padding: 10px 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    border-radius: 0.4rem;
    background: rgba(237, 248, 255, 0.078);
}

.auto-language__details span{
    font-weight: 600;
    margin-left: 5px;
    color: #2e7ee4;
}

input:checked + label,
input:checked + .input-label{
    color: #fff;
}

ul, ol {
    padding: 0 0 0 1rem;
}

ul > li,
ol > li {
    margin-bottom: 1.4rem;
}

ul > li:last-child,
ol > li:last-child {
    margin-bottom: 0;
}

ul > li > p,
ol > li > p{
    margin-bottom: .7rem;
}

li > div:last-child {
    margin-bottom: 0;
}

section {
    padding: 1rem 1.4rem;
    background-color: rgba(248, 252, 255, 0.103);
    border-radius: .4rem;
    border: 1px solid rgba(248, 252, 255, 0.034);
}

section.installation {
    background-color: rgba(248, 252, 255, 0.062);
}
button {
    cursor: pointer;
    font-family: inherit;
    background: rgb(46 46 46);
    border: 1px solid #434343;
    border-radius: var(--d-border-radius);
    color: #fff;
    font-size: .85em;
    font-weight: 600;
    padding: 10px 16px;
    text-align: center;
    transition: background-color .15s ease,border-color .15s ease,color .15s ease;
}

button:hover{
    background: #fff;
    border-color: #fff;
    color: #000;
}

.flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--d-gap);
    margin-bottom: var(--d-gap);
}

.themes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.4rem;
}

.themes label {
    position: relative;
    cursor: pointer;
}

.themes input {
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    border: 2px solid transparent;
}

.themes .input-label {
    display: block;
    background: #ffffff24;
    padding: 1rem;
    border-radius: 0.4rem;
    pointer-events: none;
    border: 2px solid transparent;
}

.themes input:focus + .input-label{
    border-color: rgb(255, 255, 255);
}

.themes input:checked + .input-label {
    color: #fff;
    background: #555c5c;
}

.themes input:disabled + .input-label {
    color: rgba(255, 255, 255, 0.253);
    background: #555c5c1f;
}

.themes input:disabled {
    cursor: not-allowed;
}

.themes input:checked + .input-label {
    background: #555c5c;
}

@media only screen and (max-width: 600px) {
    .themes,
    .flex {
        grid-template-columns: auto;
    }
}