html{
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--cc-secondary-color);
}

html.cc--darkmode{
    color-scheme: dark;
}

html:not(.cc--darkmode){
    --cc-overlay-bg: rgba(228, 231, 235, 0.89);
}

:root{
    --d-gap: 10px;
    --d-border-radius: 6px;
}

body{
    margin: 0
}

h1,
h2 {
    font-weight: 600;
}

#app {
    max-width: 600px;
    margin: 0 auto;
    padding: 12px;
}

p {
    margin: 0
}

fieldset{
    margin: 0;
    margin-top: var(--d-gap);
    padding: 10px 16px;
    border-radius: var(--d-border-radius);
    border: 1px solid var(--cc-btn-secondary-hover-border-color);
    transition: border-color .2s ease, background-color .2s ease;
}

fieldset:hover{
    background-color: var(--cc-btn-secondary-border-color);
    border-color: var(--cc-btn-secondary-border-color);
}

legend{
    font-size: .85em;
    font-weight: 600;
    color: var(--cc-btn-secondary-hover-color);
    background: var(--cc-btn-secondary-hover-border-color);
    border-radius: var(--d-border-radius);
    padding: 3px 8px 4px 8px;
}

.auto-language__details{
    margin-top: 10px;
    font-size: .95em;
    line-height: 1.5;
    padding: 10px 16px;
    background: var(--cc-btn-secondary-bg);
    border-radius: 6px;
}

.auto-language__details span{
    font-weight: 600;
    margin-left: 5px;
    color: #2e7ee4;
}

label {
    font-weight: 600;
    font-size: .9em;
}

input:checked + label{
    color: var(--cc-primary-color);
}

button {
    cursor: pointer;
    font-family: inherit;
    background: var(--cc-btn-primary-bg);
    border: 1px solid var(--cc-btn-primary-border-color);
    border-radius: var(--d-border-radius);
    color: var(--cc-btn-primary-color);
    font-size: .85em;
    font-weight: 600;
    padding: 10px 16px;
    text-align: center;
    transition: background-color .15s ease,border-color .15s ease,color .15s ease;
}

button:hover{
    background: var(--cc-btn-primary-hover-bg);
    border-color: var(--cc-btn-primary-hover-border-color);
    color: var(--cc-btn-primary-hover-color);
}

.flex{
    display: flex;
    gap: var(--d-gap);
    margin-bottom: var(--d-gap);
}

.flex > fieldset,
.flex > div{
    flex: 1;
}

/** START: darkmode */

.cc--darkmode fieldset{
    border-color: var(--cc-btn-secondary-border-color)
}

.cc--darkmode fieldset:hover{
    background-color: var(--cc-btn-secondary-bg);
    border-color: var(--cc-btn-secondary-bg)
}

.cc--darkmode legend{
    color: var(--cc-btn-secondary-color);
    background: var(--cc-btn-secondary-border-color);
}
/** END: darkmode **/
