* {
    box-sizing: border-box;
}

html{
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgba(244, 253, 255, 0.7);
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    width: 100vw;
    overflow-x: hidden;
    background-color: #000;
    color-scheme: dark!important;
    scrollbar-width: thin;
}

:root{
    --d-gap: 10px;
    --d-border-radius: 6px;
}

body{
    width: 100vw;
    overflow-x: hidden;
    max-width: 700px;
    margin: 0 auto;
    padding: 12px;
    width: 100vw;
    overflow-x: hidden;
}

h1,
h2 {
    font-weight: 600;
    color: #e1e4e7;
}

h2 {
    margin: 0 0 1.5rem 0;
    font-size: 1.2rem;
}

p {
    margin: 0
}


b{
    font-weight: 600;
}

label {
    font-weight: 400;
    font-size: .9em;
}


.warning {
    background: rgba(255, 231, 201, 0.071);
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    font-size: .9rem;
    color: #ffe78f;
    border: 1px solid rgba(255, 231, 143, 0.09);
}

fieldset{
    margin: 0;
    margin-top: var(--d-gap);
    padding: 10px 16px;
    border-radius: var(--d-border-radius);
    border: 1px solid rgba(189, 202, 224, 0.283);
    transition: border-color .2s ease, background-color .2s ease;
}

legend{
    font-size: .85em;
    font-weight: 600;
    border-radius: var(--d-border-radius);
    padding: 3px 8px 4px 8px;
}

.auto-language {
    border-top: 1px dashed rgba(241, 245, 255, 0.11);
    padding-top: 1rem;
}

.auto-language__details{
    margin-top: 1rem;
    font-size: .9rem;
    line-height: 1.5;
    padding: 10px 1rem;
    border-radius: .4rem;
    background: rgba(237, 248, 255, 0.078);
}

.auto-language__details span{
    font-weight: 600;
    margin-left: 5px;
    color: #2e7ee4;
}

input:checked + label,
input:checked + .input-label{
    color: #fff;
}

ul, ol {
    padding: 0 0 0 1rem;
}

ul > li,
ol > li {
    margin-bottom: 1.4rem;
}

ul > li:last-child,
ol > li:last-child {
    margin-bottom: 0;
}

ul > li > p,
ol > li > p{
    margin-bottom: .7rem;
}

li > div:last-child {
    margin-bottom: 0;
}

section {
    padding: 1rem 1.4rem;
    background-color: rgba(248, 252, 255, 0.034);
    border-radius: .4rem;
    border: 1px solid rgba(248, 252, 255, 0.034);
}

button {
    cursor: pointer;
    font-family: inherit;
    background: rgb(46 46 46);
    border: 1px solid #434343;
    border-radius: var(--d-border-radius);
    color: #fff;
    font-size: .85em;
    font-weight: 600;
    padding: 10px 16px;
    text-align: center;
    transition: background-color .15s ease,border-color .15s ease,color .15s ease;
}

button:hover{
    background: #fff;
    border-color: #fff;
    color: #000;
}

.flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--d-gap);
    margin-bottom: var(--d-gap);
}

.themes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.4rem;
}

.themes label {
    position: relative;
    cursor: pointer;
}

.themes input {
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    border: 2px solid transparent;
}

.themes .input-label {
    display: block;
    background: #ffffff24;
    padding: 1rem;
    border-radius: 0.4rem;
    pointer-events: none;
    border: 2px solid transparent;
}

.themes input:focus + .input-label{
    border-color: rgb(255, 255, 255);
}

.themes input:checked + .input-label {
    color: #fff;
    background: #555c5c;
}

.themes input:disabled + .input-label {
    color: rgba(255, 255, 255, 0.253);
    background: #555c5c1f;
}

.themes input:disabled {
    cursor: not-allowed;
}

.themes input:checked + .input-label {
    background: #555c5c;
}


.hl{
    position: relative;
    background: #131618;
    border: .0625rem solid #1d1f21;
    border-radius: .375rem;
    margin-bottom: 1.625em;
    margin-top: .5rem;
}

.hl__title {
    padding: 0.625rem 1.25rem;
    font-size: .9rem;
    color: #b0c4d4;
    border-bottom: .0625rem solid #1f252c;
}

.hl .hl__shiki{
    margin: 0;
    border-radius: 0;
    border: none;
}

.hl .hl__shiki code {
    background-color: transparent;
    line-height: 1.6;
    display: block;
    color: #b0b8c6;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    padding: 1rem 1.5em;
    overflow-x: auto;
    font-size: .875rem;
    scrollbar-width: thin;
}

.hl--line-numbers .hl__shiki{
    border-left: .0625rem solid #1f252c;
}

.hl__numbers {
    width: 3.75rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: 1.6;
    padding: 1rem 0;
    font-size: .875rem;
    font-family: monospace;
    color: #55646f;
    counter-reset: line;
    pointer-events: none;
}

.hl__numbers span {
    padding-left: 1.4rem;
    width: 3.75rem;
    padding-right: 1.4rem;
    text-align: right;
    display: inline-block;
    counter-increment: line;
    position: relative;
}

.hl__numbers span::before {
    font-size: .875rem;
    content: counter(line);
}

.line--highlight::after{
    content: "";
    background-color: rgba(212,236,255,.08);
    border-left: .125rem solid #40a9d3;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
}

.hl__content{
    position: relative;
    overflow: hidden;
}

.hl--line-numbers .hl__content{
    padding-left: 3.75rem;
}

.hl--details summary{
    padding: 0.75rem 1.25rem;
    color: #4ebdff;
    cursor: pointer;
    transition: color .25s;
    font-weight: 600;
    display: block;
    border-bottom: none;
    padding: 0.75rem 1.25rem;
}

.hl--details[open] summary{
    border-bottom: .0625rem solid #1f252c;
}

.hl--details summary::before {
    border-style: solid;
    border-width: 0 0.125rem 0.125rem 0;
    padding: 0.2em;
    display: inline-block;
    top: 0.0625rem;
    position: relative;
    content: "";
    margin-right: 1em;
    transform: translateY(-50%) rotate(45deg);
}

.hl--details[open] > summary::before {
    transform: translateY(-10%) rotate(225deg);
}

.hl--line-focus .hl__numbers span:not(.line--focus),
.hl--line-focus .line:not(.line--focus) {
    filter: blur(0.095rem);
    opacity: .5;
    transition: filter .35s ease, opacity .35s ease;
}

.hl--line-focus .hl__content:focus .hl__numbers span:not(.line--focus),
.hl--line-focus .hl__content:hover .hl__numbers span:not(.line--focus),
.hl--line-focus .hl__content:focus .line:not(.line--focus),
.hl--line-focus .hl__content:hover .line:not(.line--focus){
    filter: blur(0);
    opacity: 1;
}