---
import TranslationsEditor from "../TranslationsEditor.astro"
import TranslationOptions from "../TranslationOptions.astro"
import DocsLink from "../DocsLink.astro"
import LanguageInputs from "../LanguageInputs.astro"
---
<section class="categories-section">
    <div class="section__body grid">
        <div class="sub-section">
            <h4 class="categories-title">
                Categories
                <DocsLink docSection="reference/configuration-reference.html#categories" label="Categories documentation"/>
            </h4>
            <p class="categories-description">Select the applicable cookie categories for your website.</p>

            <div class="custom-inputs custom-inputs--categories">
                <label>
                    <input class="category-input custom-input" type="checkbox" value="necessary" checked disabled/>
                    <span class="label">Necessary
                        <span class="tick">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><g fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><rect width="16" height="10" x="4" y="11" rx="2" ry="2"/><path d="M16.5 11V8h0c0-2.8-.5-5-4.5-5S7.5 5.2 7.5 8h0v3"/></g></svg>
                        </span>
                    </span>
                </label>

                <label>
                    <input class="category-input custom-input" type="checkbox" value="functionality"/>
                    <span class="label">Functionality <span class="tick"></span></span>
                </label>

                <label>
                    <input class="category-input custom-input" type="checkbox" value="analytics"/>
                    <span class="label">Analytics <span class="tick"></span></span>
                </label>

                <label>
                    <input class="category-input custom-input" type="checkbox" value="marketing"/>
                    <span class="label">Marketing <span class="tick"></span></span>
                </label>
            </div>
        </div>
        <div class="sub-section translations" id="translations-section">
            <h4 class="translations-title">
                Translations
                <DocsLink docSection="advanced/language-configuration.html#language-config" label="Translations documentation"/>
            </h4>
            <p class="translations-description">Select the translations to include in your configuration.</p>

            <div class="custom-inputs">
                <LanguageInputs/>
            </div>

            <button
                type="button"
                class="styled-btn"
                id="edit-translations-btn"
                data-a11y-dialog-show="edit-translations-dialog"
            >Edit translations</button>

            <TranslationsEditor />
        </div>
        <div class="sub-section language-more-options">
            <h4>
                Language options
                <DocsLink docSection="reference/configuration-reference.html#language" label="Language options documentation"/>
            </h4>
            <div class="default-language">
                <label class="select-label" for="default-language">
                    <span>Default lang.</span><span class="select-input">
                        <select name="default-language" id="default-language">
                            <option value="disabled" disabled selected>—</option>
                            <TranslationOptions />
                        </select>
                        <span class="arrow-icon"></span>
                    </span>
                </label>
            </div>

            <div class="auto-language">
                <div class="checkbox-div">
                    <input type="checkbox" id="auto-language" name="autoLanguage"/>
                    <label for="auto-language">Auto detect language</label>
                </div>

                <label class="select-label autodetect" for="autodetect-mode">
                    <span>Detect from</span><span class="select-input">
                        <select name="autodetect" id="autodetect-mode" disabled>
                            <option value="document">document</option>
                            <option value="browser">browser</option>
                        </select>
                        <span class="arrow-icon"></span>
                    </span>
                </label>

                <div class="language__details">
                    <p>Detected language: <code id="detected-language">-</code></p>
                    <p>Translation loaded: <code id="translation-found">-</code></p>
                    <p>Current language: <code id="current-active-language">-</code></p>
                </div>
            </div>
        </div>
    </div>
</section>