<footer>
    <p>Released under the MIT License.</p>
    <p>Copyright © 2020-present <a href="https://orestbida.com/contact" target="_blank">Orest Bida</a></p>
</footer>

<style>
    footer {
        color: #65696d;
        margin-top: 3rem;
        padding: 2rem 0;
        border-top: 1px solid rgba(255, 255, 255, 0.069);
    }

    footer > p:not(:first-child) {
        margin-top: .5rem;
    }
</style>