---
import { docsUrl, stackblitzUrl, repoUrl } from "../../data/metadata";
import { GithubIcon } from '../../../../docs/components/icons'
---
<header>
    <h1 class="page-title">CookieConsent v3<span data-latest-release data-minor-release class="fade-in title__minor-version">x.x</span></h1>
    <h2 class="page-subtitle">A lightweight, GDPR and CCPA compliant Consent Management Tool written in vanilla JS.</h2>

    <div class="main-links">
        <a href={docsUrl} class="styled-link" target="_blank" rel="noopener noreferrer">📃 Documentation</a>
        <a href={stackblitzUrl} class="styled-link styled-link__2" target="_blank" rel="noopener noreferrer">Live demos</a>
        <a href={repoUrl} class="styled-link styled-link__2 github-icon" target="_blank" set:html={GithubIcon} aria-label="Github repository"></a>
    </div>
</header>

<style scoped>
    .main-links {
        display: flex;
        gap: .7rem;
        margin: 2rem 0;
    }

    .styled-link {
            padding: .7rem 1rem;
            background-color: #ffffff;
            color: #000000;
            text-decoration: none;
            border-radius: .4rem;
            border: 1px solid rgb(39, 39, 41);
            font-size: .9rem;
            font-weight: 600;
            transition: color .15s ease,
                        background-color .15s ease,
                        border-color .15s ease;

            &:hover {
                background-color: #c8cbcd;
                color: #000;
            }
        }

        .styled-link__2 {
            background-color: transparent;
            color: #d4d9db;
            border-color: #222425;

            &:hover {
                background-color: #111213;
                color: #fff;
            }
        }

        .github-icon {
            padding: 0;
            width: 43px;
            height: auto;
            align-items: center;
            display: flex;
            padding: 0;
            justify-content: center;

            svg {
                fill: #d4d9db;
                transition: fill .15s ease;
            }

            &:hover {
                svg {
                    fill: #fff;
                }
            }
        }

</style>