---
import { docsUrl } from '../../data/metadata'
---
<section class="help-section">
    <div class="section__header">
        <div class="section-title">
            <h3>How to block iframes</h3>
        </div>
        <div class="section-description"></div>
    </div>
    <div class="section__body">
        <p>You can use <a href={`${docsUrl}/advanced/iframemanager-setup.html`} target="_blank">iframemanager</a> for this task.</p>
    </div>
</section>