---
interface Props {
    docSection?: string,
    label?: string
}

const { docSection, label }: Props = Astro.props;
---
<a
    href={`https://cookieconsent.orestbida.com/${docSection}`}
    target="_blank"
    rel="noopener noreferrer"
    title="Docs"
    class="help-icon"
    aria-label={label}
>?</a>