@use "./reset";
@use "./global" as *;

/**
 * Global styles/variables
 */

:root{
    --cc-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --cc-modal-border-radius: .5rem;
    --cc-btn-border-radius: .4rem;
    --cc-modal-transition-duration: .25s;
    --cc-link-color: var(--cc-btn-primary-bg);
    --cc-modal-margin: 1rem;
    --cc-z-index: 2147483647;
}

#cc-main {

    color: var(--cc-primary-color);
    font-family: var(--cc-font-family);
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    position: relative;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    z-index: var(--cc-z-index);
    position: fixed;

    &.cc--rtl{
        direction: rtl;
    }

    b,
    em,
    strong,
    a,
    .cm__title{
        font-weight: $font-weight-bold;
    }

    button > span {
        pointer-events: none;
    }

    a,
    .cc__link{
        font-weight: 600;
        position: relative;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size .25s, color .25s ease;

        &:hover{
            color: var(--cc-primary-color);
            background-size: 100% 1px;
        }
    }

    .cc__link {
        color: var(--cc-link-color);
    }

    /* Use Firefox's thin style scrollbar */
    .cm__desc,
    .pm__body{
        scrollbar-width: thin;
        overscroll-behavior: auto contain;
    }

    /* Show webkit's "cool" scrollbar only on non mobile screens */
    @media screen and (min-width: 640px){

        ::-webkit-scrollbar,
        ::-webkit-scrollbar-track,
        ::-webkit-scrollbar-thumb{
            all: revert;
        }

        ::-webkit-scrollbar-thumb{
            border: .25rem solid var(--cc-bg);
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border-radius: 1rem;
            background: var(--cc-toggle-readonly-bg);

            &:hover {
                background: var(--cc-toggle-off-bg);
            }
        }

        ::-webkit-scrollbar {
            background: transparent;
            width: 12px;
        }

    }
}

/** Disable page scroll **/
html.disable--interaction{

    &.show--consent,
    &.show--consent body{
        height: auto!important;
        overflow: hidden!important;
    }
}

// disable transition if prefers-reduced-motion detected
@media (prefers-reduced-motion) {
    #cc-main {
        --cc-modal-transition-duration: 0s;
    }
}