/**
 * Global styles/variables
 */

$translate-y: 40px;

#cc-main {

    --cc-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --cc-modal-border-radius: .4em;
    --cc-btn-border-radius: .35em;
    --cc-transition-easing: cubic-bezier(0.23, 1, 0.32, 1);

    color: var(--cc-primary-color);
    font-family: var(--cc-font-family);
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    position: relative;

    b,
    em,
    strong,
    .cm__title{
        font-weight: 600;
    }

    a,
    .cc-link{
        border-bottom: 1px dashed;
        color: var(--cc-primary-color);
    }

    /* Use Firefox's thin style scrollbar */
    .cm__desc,
    .pm__body{
        scrollbar-width: thin;
    }

    /* Show webkit's "cool" scrollbar only on non mobile screens */
    @media screen and (min-width: 640px){
        .cm__desc,
        .pm__body {
            &::-webkit-scrollbar-thumb{
                border: .25em solid var(--cc-bg);
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                border-radius: 10px;
                background: #d2d7dd;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: var(--cc-btn-primary-bg);
            }

            &::-webkit-scrollbar {
                background: transparent;
                width: 12px;
            }
        }
    }
}

@import "./components/consent-modal";
@import "./components/preferences-modal";