$color: #444b57;
$background: #fff;
$border-color: #eaecee;

$btn-color: #fff;
$btn-background: #32373b;
$btn-background-hover: #000;

$btn-preferences-color: $color;
$btn-preferences-background: transparent;
$btn-preferences-border-color: #abb3bc;

$close-btn-background: #f1f1f1;
$close-btn-background-hover: #f1f1f1;

$btns-separator-border: #f1f1f1;

$footer-background: #f1f1f1;
$overlay-background: rgba(49, 54, 58, 0.8);

#cc-main {

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    position: relative;
    color: $color;
    position: fixed;
	z-index: 2147483647;

    /* Prefer font-weight: 600 rather than "bold" */
    a,
    b,
    em,
    strong,
    .cm__title{
        font-weight: 600;
    }

    a,
    a:hover{
        border-bottom: 1px dashed;
        color: inherit;
    }
}

@import "./components/consent-modal";
@import "./components/preferences-modal";