#cc-main {

    /* Reset only specific elements */
    div,
    span,
    a,
    button,
    input,
    :before,
    :after{
        all: unset;
        box-sizing: border-box;
    }

    table,
    thead,
    tbody,
    tr,
    th,
    td {
        all: revert;
        font-family: inherit;
        font-weight: inherit;
        color: inherit;
        font-size: inherit;
    }

    /* Restore outline and cursor*/
    a,
    button,
    input{
        outline: revert;
        outline-offset: .3em;
        cursor: pointer;
    }

    p{
        margin: 0
    }
}