---
import Layout from '../layouts/Layout.astro';
import Header from '../components/sections/Header.astro';
import Footer from '../components/sections/Footer.astro';
import Announcements from '../components/sections/Announcements.astro';
import CategoriesAndTranslations from '../components/sections/CategoriesAndTranslations.astro';
import GuiOptions from '../components/sections/GuiOptions.astro';
import Themes from '../components/sections/Themes.astro';
import Installation from '../components/sections/Installation.astro';
import NextSteps from '../components/sections/NextSteps.astro';
import Iframes from '../components/sections/Iframes.astro';
import Help from '../components/sections/Help.astro';
---
<Layout>
    <Header/>
    <main>
        <Announcements/>
        <CategoriesAndTranslations/>
        <GuiOptions/>
        <Themes/>
        <Installation/>
        <NextSteps/>
        <Iframes/>
        <Help/>
    </main>
    <Footer/>
</Layout>
<script>
    import '../modules/index'
</script>