/**
* Colors Base
*
* These are the pure base color presets. Most of the time, you should not be
* using these colors directly in the theme but rather use "Colors Theme"
* instead because those are "Theme (light or dark)" dependant.
* -------------------------------------------------------------------------- */

:root{
    --vp-c-green: #e7a13f;
    --vp-c-green-light: #edc387;
    --vp-c-green-lighter: #edc387;
    --vp-c-green-dark: #f18767;
    --vp-code-font-size: 0.875rem;
    --vp-c-text-light-2: rgba(53, 57, 61, 0.85);
}

.dark{
    --vp-c-green: #f1b867;
    --vp-c-green-light: #edc387;
    --vp-c-green-lighter: #edc387;
    --vp-c-green-dark: #f18767;

    --vp-c-text-code: #ebc084;
    --vp-button-alt-bg: #2f2f2f;

    --vp-custom-block-warning-border: #443d37;
    --vp-custom-block-warning-background: #342f2a;
    --vp-custom-block-warning-text: #d4cdc0;
    --vp-custom-block-warning-link: #ffb571;
    --vp-custom-block-warning-code-bg: #443d37;

    --vp-custom-block-tip-border: #2c4039;
    --vp-custom-block-tip-text: #BED1CB;
    --vp-custom-block-tip-link: #8feac8;
    --vp-custom-block-tip-code-bg: #333a37;

    --vp-custom-block-info-border: #32373a;
    --vp-custom-block-info-background: #262a2c;
    --vp-custom-block-info-text: #bac8cd;
    --vp-custom-block-info-link: #abd6e7;
    --vp-custom-block-info-code-bg: #32373a;
}

#app .custom-block{
    font-size: 15px;
    padding: 1em 1.4em;
}

#app .custom-block code{
    font-weight: 400;
}

#app .custom-block-title{
    margin-bottom: 1rem;
}

/** TIP BLOCK **/
.dark #app .tip.custom-block a,
.dark #app .tip .custom-block-title{
    color: var(--vp-custom-block-tip-link);
}

/** INFO BLOCK **/
.dark #app .info.custom-block{
    background-color: var(--vp-custom-block-info-background);
}

.dark #app .info .custom-block-title{
    color: var(--vp-custom-block-info-link);
}

/** WARNING BLOCK **/
.dark #app .warning.custom-block{
    color: var(--vp-custom-block-warning-text);
    background-color: var(--vp-custom-block-warning-background);
}

.dark #app .warning.custom-block a,
.dark #app .warning .custom-block-title{
    color: var(--vp-custom-block-warning-link);
}

.custom-block.details{
    margin: 0 0 .5rem 0!important;
    padding: 0!important;
    border-radius: 0!important;
    background-color: transparent!important;
    border: none!important;
    cursor: default;
}

.custom-block.details summary{
    display: block!important;
    padding: 0.5em 1.5rem!important;
    background-color: rgba(157, 237, 202, 0.137);
    border: 1px solid rgba(49, 71, 64, 0.365);
    color: #7fc096;
    border-radius: 6px;
    transition: background-color .2s ease, border-color .2s ease;
    position: relative;
    font-weight: 600;
}

.custom-block.details summary::before{
    border-style: solid;
    border-width: 0 2px 2px 0;
    padding: 0.2em;
    display: inline-block;
    top: 1px;
    position: relative;
    content: "";
    left: -0.5em;
    margin-right: 0.5em;
    transition: transform .2s ease;
    transform: translateY(-50%) rotate(45deg);
}

.custom-block.details summary:hover{
    background-color: rgba(157, 237, 202, 0.1);
    border-color: rgba(49, 71, 64, 0.212);
}

.custom-block.details[open] summary{
    background-color: #2a3430!important;
    border-color: #2a3430!important;
}

.custom-block.details[open] summary::before{
    transform: translateY(-10%) rotate(225deg);
}

/* START: Algolia Search */

.dark .algolia-search-box *,
.dark .DocSearch-Container *{
    font-family: inherit!important;
}

.DocSearch-Commands li::before{
    display: none;
}

.dark .DocSearch {
    --docsearch-spacing: 16px!important;
    --docsearch-primary-color: #ffad4f!important;
    --docsearch-searchbox-background: #1d2227!important;
    --docsearch-modal-background: #1d2227!important;
    --docsearch-modal-shadow: 0 2px 15px black!important;
    --docsearch-searchbox-focus-background: #2c3238!important;
    --docsearch-searchbox-shadow: 0 0 0 2px var(--c-brand)!important;
    --docsearch-searchbox-height: 3.2em!important;

    --docsearch-hit-color: #e7eaef!important;
    --docsearch-hit-active-color: #1d2227!important;
    --docsearch-hit-background: #2c3238!important;
    --docsearch-hit-shadow: 0 1px 3px 0 #14171b!important;

    --docsearch-footer-background: #14181b!important;
    --docsearch-footer-shadow: 0 -1px 0 0 #0f1214!important;
    --docsearch-container-background: rgba(0, 0, 0, 0.73)!important;

    --docsearch-key-gradient: transparent!important;
    --docsearch-key-shadow: none!important;
    --docsearch-logo-color: var(--c-brand)!important;
}

.DocSearch-Dropdown{
    margin-top: 10px!important;
}

.DocSearch-Button:active,
.DocSearch-Button:hover{
    box-shadow: none!important;
}

.DocSearch-Input{
    font-size: .95em!important;
    margin-bottom: -1px!important;
    padding-left: 12px!important;
    font-family: inherit!important;
    font-weight: 500!important;
}

.DocSearch-Help{
    font-size: 1em!important;
}

.dark .DocSearch-Label{
    font-size: .8em!important;
}

.DocSearch-Form{
    border-radius: 6px!important;
}

.DocSearch-LoadingIndicator svg, .DocSearch-MagnifierLabel svg{
    width: 20px!important;
    height: 20px!important;
}

.DocSearch-Footer{
    border-top: none!important;
    background: none!important;
    box-shadow: none!important;
}

/* END: Algolia Search */
/*
:root {
    --vp-c-white: #ffffff;
    --vp-c-white-soft: #f9f9f9;
    --vp-c-white-mute: #f1f1f1;

    --vp-c-black: #141414;
    --vp-c-black-pure: #000000;
    --vp-c-black-soft: #1c1c1c;
    --vp-c-black-mute: #242424;

    --vp-c-gray: #8e8e8e;
    --vp-c-gray-light-1: #aeaeae;
    --vp-c-gray-light-2: #c7c7c7;
    --vp-c-gray-light-3: #d1d1d1;
    --vp-c-gray-light-4: #e5e5e5;
    --vp-c-gray-light-5: #f2f2f2;
    --vp-c-gray-dark-1: #636363;
    --vp-c-gray-dark-2: #484848;
    --vp-c-gray-dark-3: #3a3a3a;
    --vp-c-gray-dark-4: #282828;
    --vp-c-gray-dark-5: #202020;

    --vp-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vp-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vp-c-divider-dark-1: rgba(84, 84, 84, 0.45);
    --vp-c-divider-dark-2: rgba(84, 84, 84, 0.35);

    --vp-c-text-light-1: var(--vp-c-indigo);
    --vp-c-text-light-2: rgba(60, 60, 60, 0.70);
    --vp-c-text-light-3: rgba(60, 60, 60, 0.33);
    --vp-c-text-light-4: rgba(60, 60, 60, 0.18);

    --vp-c-text-dark-1: rgba(255, 255, 255, 0.87);
    --vp-c-text-dark-2: rgba(235, 235, 235, 0.60);
    --vp-c-text-dark-3: rgba(235, 235, 235, 0.38);
    --vp-c-text-dark-4: rgba(235, 235, 235, 0.18);

    --vp-c-indigo: #213547;
    --vp-c-indigo-soft: #476582;
    --vp-c-indigo-light: #aac8e4;
    --vp-c-indigo-lighter: #c9def1;
    --vp-c-indigo-dark: #1d2f3f;
    --vp-c-indigo-darker: #14212e;

    --vp-c-yellow: #ffc517;
    --vp-c-yellow-light: #fcd253;
    --vp-c-yellow-lighter: #fcfc7c;
    --vp-c-yellow-dark: #e0ad15;
    --vp-c-yellow-darker: #ad850e;
    --vp-c-yellow-dimm-1: rgba(255, 197, 23, 0.5);
    --vp-c-yellow-dimm-2: rgba(255, 197, 23, 0.25);
    --vp-c-yellow-dimm-3: rgba(255, 197, 23, 0.05);

    --vp-c-red: #ed3c50;
    --vp-c-red-light: #f54e82;
    --vp-c-red-lighter: #fd1d7c;
    --vp-c-red-dark: #cd2d3f;
    --vp-c-red-darker: #ab2131;
    --vp-c-red-dimm-1: rgba(237, 60, 80, 0.5);
    --vp-c-red-dimm-2: rgba(237, 60, 80, 0.25);
    --vp-c-red-dimm-3: rgba(237, 60, 80, 0.05);
}

.dark #app .VPNavBar.has-sidebar .content{
    background: rgba(28, 28, 28, .93);
} */

/**
* Colors Theme
* -------------------------------------------------------------------------- */

/* :root {
    --vp-c-bg: var(--vp-c-white);
    --vp-c-bg-soft: var(--vp-c-white-soft);
    --vp-c-bg-mute: var(--vp-c-white-mute);
    --vp-c-bg-alt: var(--vp-c-white-soft);

    --vp-c-divider: var(--vp-c-divider-light-1);
    --vp-c-divider-light: var(--vp-c-divider-light-2);

    --vp-c-divider-inverse: var(--vp-c-divider-dark-1);
    --vp-c-divider-inverse-light: var(--vp-c-divider-dark-2);

    --vp-c-text-1: var(--vp-c-text-light-1);
    --vp-c-text-2: var(--vp-c-text-light-2);
    --vp-c-text-3: var(--vp-c-text-light-3);
    --vp-c-text-4: var(--vp-c-text-light-4);

    --vp-c-text-inverse-1: var(--vp-c-text-dark-1);
    --vp-c-text-inverse-2: var(--vp-c-text-dark-2);
    --vp-c-text-inverse-3: var(--vp-c-text-dark-3);
    --vp-c-text-inverse-4: var(--vp-c-text-dark-4);

    --vp-c-text-code: var(--vp-c-indigo-soft);

    --vp-c-brand: var(--vp-c-green);
    --vp-c-brand-light: var(--vp-c-green-light);
    --vp-c-brand-lighter: var(--vp-c-green-lighter);
    --vp-c-brand-dark: var(--vp-c-green-dark);
    --vp-c-brand-darker: var(--vp-c-green-darker);

    --vp-c-sponsor: #fd1d7c;
}

.dark {
    --vp-c-bg: var(--vp-c-black-soft);
    --vp-c-bg-soft: var(--vp-c-black-mute);
    --vp-c-bg-mute: var(--vp-c-gray-dark-3);
    --vp-c-bg-alt: var(--vp-c-black);

    --vp-c-divider: var(--vp-c-divider-dark-1);
    --vp-c-divider-light: var(--vp-c-divider-dark-2);

    --vp-c-divider-inverse: var(--vp-c-divider-light-1);
    --vp-c-divider-inverse-light: var(--vp-c-divider-light-2);

    --vp-c-text-1: var(--vp-c-text-dark-1);
    --vp-c-text-2: var(--vp-c-text-dark-2);
    --vp-c-text-3: var(--vp-c-text-dark-3);
    --vp-c-text-4: var(--vp-c-text-dark-4);

    --vp-c-text-inverse-1: var(--vp-c-text-light-1);
    --vp-c-text-inverse-2: var(--vp-c-text-light-2);
    --vp-c-text-inverse-3: var(--vp-c-text-light-3);
    --vp-c-text-inverse-4: var(--vp-c-text-light-4);

    --vp-c-text-code: var(--vp-c-indigo-lighter);
} */

.required{
    position: relative;
    background-color: rgba(164, 128, 119, 0.15);
    display: inline-block;
    margin-left: 0.2em;
    border-radius: 5px;
    padding: 0em 0.5em;
    font-size: .55em;
    color: #f07661;
    font-weight: 400;
    top: -0.25em;
    letter-spacing: .2px;
    height: 1.8em;
    line-height: 1.8em;
}

span.required::after {
    content: attr(data-label);
}

a.outline-link[href="#language"]::after,
a.outline-link[href="#categories"]::after{
    content: 'required';
    position: relative;
    background-color: rgba(164, 126, 119, 0.15);
    display: inline-block;
    margin-left: 5px;
    border-radius: 4px;
    padding: 0 4px;
    font-size: .9em;
    color: #eb664f;
    height: 1.5em;
    line-height: 1.7em;
}

.vp-doc li > p:first-child{
    margin: 0;
}