#cc__modal__container *{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#cc__modal__container input,
#cc__modal__container p,
#cc__modal__container h1,
#cc__modal__container h2,
#cc__modal__container h3,
#cc__modal__container h4,
#cc__modal__container div{
    margin: 0;
    padding: 0;
}

#cc__modal__container button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#cc__modal__container .cc_button,
#cc__modal__container #cc__modal .cc_button
{
    background:#ffd87f;
}

.cc_darkmode #cc__modal__container .sc_container_checkbox input:checked~.sc_checkmark{
    background-color:#ffd87f;
}

#cc__modal__container #cc__modal .cc_button:hover,
#cc__modal__container .cc_button:hover{
    box-shadow: 0 0 0 0.250em #fff1d2;
}



#cc__modal__container #cc__modal .cc_button:active,
#cc__modal__container .cc_button:active{
    background: #eeca76;
    box-shadow: 0 0 0 0.250em #fff1d2;
}

.cc_darkmode #cc__modal__container #cc__modal .cc_button:hover,
.cc_darkmode #cc__modal__container .cc_button:hover,
.cc_darkmode #cc__modal__container #cc__policy__close__btn:hover{
    -webkit-box-shadow: 0 0 0 0.25em #595242;
    box-shadow: 0 0 0 0.25em #595242;
}

.cc_darkmode #cc__modal__container #cc__modal .cc_button:active,
.cc_darkmode #cc__modal__container .cc_button:active,
.cc_darkmode #cc__modal__container #cc__policy__close__btn:active {
    background: #c7a964;
    -webkit-box-shadow: 0 0 0 0.25em #595242;
    box-shadow: 0 0 0 0.25em #595242;
}

#cc__modal__container #cc__modal .cc__link{
    background: #edf0f2;
}

#cc__modal__container #cc__modal .cc__link:hover{
    background: #e2e5e7;
}

.cc_darkmode #cc__modal__container #cc__modal .cc__link:hover{
	background: #313338;
}

.cc_darkmode #cc__modal__container #cc__modal .cc__link{
    background: #222427;
    color: #a2a2a2;
}


#cc__modal__container #cc__modal.cc__show .cc_button,
#cc__modal__container .cc__show .cc_button,
#cc__modal__container #cc__modal.cc__show .cc__link{
    transition: background-color .25s ease, color .25s ease, box-shadow .25s ease!important;
}

#cc__modal__container #cc__modal{
    font-family: inherit;
    padding: 1.875em 2.5em;
    position: fixed;
    z-index: 100;
    background: #fff;
    color: #000;
    width: 27.125em;
    bottom: 1.250em;
    right: 1.250em;
    box-shadow: 0 0.625em 1.875em #c4cbda;
    box-shadow: 0 0.625em 1.875em rgba(57,62,72,.22);
    opacity: 0;
    visibility: hidden;
    transform: scale(.95);
    border-radius: 0.250em;
    transition: none!important;
    line-height: initial;
}

#cc__modal__container #cc__modal button,
#cc__modal__container #cc__modal a{
    width: auto;
    height: auto;
    line-height: initial;
    text-decoration: initial;
    border: initial;
    outline: none;
    color: initial;
    transition: none!important;
}

#cc__modal__container #cc__modal.cc__anim{
    transition: transform .4s cubic-bezier(0.5,0,0,1.25), opacity .4s ease, visibility .4s ease!important;
}

#cc__modal__container #cc__modal.cc__anim.cc__show{
    opacity: 1;
    visibility: visible!important;
    transform: scale(1);
}

.ie #cc__modal{
    border: 1px solid #f1f2f6;
}

#cc__modal__container #cc__modal__title{
    color: inherit;
    margin: 0 0 0.6em 0;
	font-family: inherit;
}

#cc__modal__container #cc__modal__text{
    margin-bottom: 1.625em;
    font-size: 0.938em;
    font-family: inherit;
    line-height: 1.45em;
}

#cc__modal__container #cc__modal .cc_button,
#cc__modal__container .cc_button,
#cc__modal__container #cc__modal .cc__link{
    border: none;
    padding: 1em 2em;
    margin-bottom: 0.625em;
    display: inline-block;
    outline: 0;
    box-shadow: 0 0 0 0 transparent;
    margin-right: 1.250em;
    border-radius: 0.250em;
    cursor: pointer;
    transition: none!important;
    font-weight: bold;
    font-family: inherit;
    font-size: 0.9em;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/**
CookieConsent policy
**/
#cc__modal__container #cc__policy__container{ /** have to add overflow hidden to body**/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
	background: #070707;
    background: rgba(0, 0, 0 , 0.45);
    display: table;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: none!important; 
}

#cc__modal__container #cc__policy__content .ccp_section{
    padding: 0.938em 0;
    margin-bottom: 0.625em;
}

#cc__modal__container #cc__policy__container h2{
    margin-bottom: 0.7em;
    display: inline-block;
	font-family: inherit;
}

#cc__modal__container #cc__policy__container p{
    margin-bottom: 0.625em;
    font-size: 0.938em;
    line-height: 1.3em;
}

#cc__modal__container #cc__policy__container input{
    -webkit-appearance: auto;
}

#cc__modal__container #cc__policy__container.cc__anim{
    transition: background-color .4s ease, visibility .4s ease, opacity .4s ease!important;
}

#cc__modal__container #cc__policy__container.cc__anim.cc__show{
    opacity: 1;
    visibility: visible!important;
}

#cc__modal__container #cc__valign{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    /*padding: 1.250em;*/
}

#cc__modal__container #cc__policy{
    margin: 0 auto;
    border-radius: 0.1875em;
    max-width: 52.5em;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    height: calc(100% - 2.5em);
    overflow: hidden;
	visibility: hidden;
	opacity: 0;
	max-height: 37.5em;
    top: 50%;
	transform: translateY(-50%) scale(.95);
	transition: transform .4s cubic-bezier(.5,0,0,1.25),opacity .4s ease,visibility .4s ease!important;
}

#cc__modal__container #cc__policy__inner{
    background: #fff;
    border-radius: 0.25em;
    padding-top: 4.9375em;
    padding-bottom: 1.25em;
    height: 100%;
    position: relative;
    margin: 0 1.250em;
    overflow: hidden;
}

#cc__modal__container.ie #cc__policy{
    position: relative;
	top: 0;
	margin-top: -5.625em;
}


#cc__modal__container.ie #cc__valign{
	height: 100%;
	padding-top: 4.9375em;
}

#cc__modal__container #cc__policy__content{
	overflow-y: auto;
    overflow-y: overlay;
    overflow-x: hidden;
    height: 100%;
    position: relative;
    padding: 1.875em;
}

#cc__modal__container #cc__policy__header{
    position: absolute;
    top: 0;
    width: 100%;
    display: table;
    padding: 1.2em 1.875em;
    vertical-align: middle;
    z-index: 2;
    background: white;
    border-bottom: 1px solid #f0f0f0;
}
#cc__modal__container #cc__policy__title{
	display: table-cell;
    vertical-align: middle;
    font-size: 1em;
    font-family: inherit;
}

#cc__modal__container #cc__policy__close__btn{
    display: table-cell;
    float: right;
    vertical-align: middle;
    padding: 0;
    width: 2.7em;
    height: 2.7em;
    border: none;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border-radius: 0.250em;
    cursor: pointer;
    margin: 0;
}

#cc__modal__container #cc__policy__text{
    height: 31.250em;
    overflow-y: auto;
    margin-top: 1.250em;
}

#cc__modal__container .cc__anim.cc__show #cc__policy{
    opacity: 1;
    visibility: visible;
    transform: scale(1) translateY(-50%);
}

/** works only on webkit-based browsers **/
#cc__modal__container #cc__policy__content::-webkit-scrollbar{
	width: 1em;
    height: 100%;
    background-color: transparent;
    border-radius: 0 0.250em 0.250em 0;
}
  
#cc__modal__container #cc__policy__content::-webkit-scrollbar-thumb{
    border: 0.3em solid white;
    background-color: #cecfd2;
    border-radius: 100em;
    -webkit-border-radius: 100em;
	-moz-border-radius: 100em;
    -ms-border-radius: 100em;
    -o-border-radius: 100em;
}

#cc__modal__container #cc__policy__content::-webkit-scrollbar-thumb:hover{
	background-color: #a2a3a4;
}

#cc__modal__container #cc__policy__content::-webkit-scrollbar-button {
    width: 10;
    height: 5px;
    opacity: 0;
	visibility: hidden;
}
  
#cc__modal__container #cc__policy__content::-webkit-scrollbar-corner {
    background-color: transparent;
}

/** custom checkbox **/
/* The container */
#cc__modal__container .sc_container_checkbox {
    display: inline-block;
    position: relative;
    padding-left: 2.500em;
    margin-bottom: 0.95em;
    cursor: pointer;
    font-size: 1.375em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 0.625em;
}

#cc__modal__container.ie .sc_container_checkbox{
	padding-left: 1em;
	margin-bottom: 0.7em;
}

/* Hide the browser's default checkbox */
#cc__modal__container .sc_container_checkbox input {
    position: absolute;
    cursor: pointer;
	display: none;
}

#cc__modal__container.ie .sc_container_checkbox input{
	display: block;
	opacity: 1;
}

/* Create a custom checkbox */
#cc__modal__container .sc_container_checkbox .sc_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #eee;
    border-radius: 0.2em;
}

#cc__modal__container.ie .sc_container_checkbox .sc_checkmark{
	display: none;
}

#cc__modal__container .sc_container_checkbox .sc_checkmark.sc_checkmark.sc_readonly{
    cursor: default;
}

/* On mouse-over, add a grey background color */
#cc__modal__container  .sc_container_checkbox:hover input ~ .sc_checkmark {
    background-color: #ccc;  
}

/* When the checkbox is checked, add a blue background */
#cc__modal__container .sc_container_checkbox input:checked ~ .sc_checkmark {
    background-color: #000000;
}

#cc__modal__container .sc_container_checkbox input:checked ~ .sc_checkmark.sc_readonly{
    background-color: #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
#cc__modal__container .sc_container_checkbox .sc_checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
#cc__modal__container .sc_container_checkbox input:checked ~ .sc_checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
#cc__modal__container .sc_container_checkbox .sc_checkmark:after {
    left: 0.39em;
    top: 0.18em;
    width: 0.17em;
    height: 0.450em;
    border: solid white;
    border-width: 0 0.1em 0.1em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
	box-sizing: content-box;
}
  
/** end custom scrollbar **/

#cc__modal__container #cc__policy__content table th,
#cc__modal__container #cc__policy__content table td{
    border: none;
}

#cc__modal__container #cc__policy__content table { 
	width: 46.875em; 
	border-collapse: collapse; 
    margin: 1.250em auto;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    border-radius: 0.313em;
    overflow: hidden;
    box-shadow: 0 0 0 1px #e9e9e9;
}
#cc__modal__container.ie #cc__policy__content table{
	overflow: auto;
}

/* Table Zebra striping */
#cc__modal__container #cc__policy__content table tr:nth-of-type(odd) { 
    background: #eff2f4;
}



#cc__modal__container #cc__policy__content table td, 
#cc__modal__container #cc__policy__content table th { 
    padding: 0.625em;
    text-align: left;
    vertical-align: top;
    font-size: .9em;
}

#cc__modal__container #cc__policy__content table th { 
    background: #000000;
    color: white;
	font-family: inherit;
	padding: 1.2em 0.625em;
}

/**
Dark-mode for cookie consent
**/
.cc_darkmode #cc__modal__container #cc__modal,
.cc_darkmode #cc__modal__container .cc__anim.cc__show #cc__policy {
	color: #fff;
}

.cc_darkmode #cc__modal__container #cc__policy__container p,
.cc_darkmode #cc__modal__container #cc__policy__content table td {
	color: #c5cbd0;
}

.cc_darkmode #cc__modal__container #cc__modal {
	background: #151619;
	-webkit-box-shadow: 0 0 1.875em rgba(57, 62, 72, .22);
	box-shadow: 0 0 1.875em rgba(0, 0, 0, .56);
}

.cc_darkmode #cc__modal #cc__modal__text {
	color: #d4d8d9;
}

.cc_darkmode #cc__modal__container #cc__policy__inner,
.cc_darkmode #cc__modal__container #cc__policy__header {
	background: #151619;
}

.cc_darkmode #cc__modal__container #cc__policy__header {
    border-color: #1e1f23;
}

.cc_darkmode #cc__modal__container .sc_container_checkbox .sc_checkmark:after {
	border: solid #000000;
	border-width: 0 0.1em 0.1em 0;
}

.cc_darkmode #cc__modal__container .sc_container_checkbox input:checked~.sc_checkmark.sc_readonly {
	background-color: #4b4e53;
}

.cc_darkmode #cc__modal__container .sc_container_checkbox input:checked~.sc_checkmark.sc_readonly:after {
	border: solid #26292b;
	border-width: 0 0.1em 0.1em 0;
}

.cc_darkmode #cc__modal__container #cc__policy__content::-webkit-scrollbar-thumb {
	border: 0.3em solid #151619;
	background-color: #3d4349;
}

.cc_darkmode #cc__modal__container #cc__policy__content::-webkit-scrollbar-thumb:hover {
	background-color: #535a5f;
}

.cc_darkmode #cc__modal__container #cc__policy__content table tr:nth-of-type(odd) {
    background: #000000;
}

.cc_darkmode #cc__modal__container #cc__policy__content table > tr:first-child{
    border-bottom: 1px solid #0c0c0c;
}

.cc_darkmode #cc__modal__container #cc__policy__content table td:before {
	color: #fff;
}

.cc_darkmode #cc__modal__container #cc__policy__content table {
    box-shadow: none;
	background: #0e0f10;
}

.cc_darkmode  #cc__modal__container.ie #cc__policy__content table{
	border: 1px solid #232529;
}

@media screen and (max-width: 900px){
    #cc__modal__container #cc__modal{
        width: 100%;
        margin: 0;
        padding: 1.875em 10%;
        right: 0;
        bottom: 0;
        border-radius: 0;
        display: block;
    } 
}

/* On screens that are 37.500em or less, set the background color to olive */
@media screen and (max-width: 688px) {
    #cc__modal__container #cc__policy{
        border-radius: 0;
		max-height: 100%;
        height: 100%;
        left: 0;
        right: 0;
    }

    #cc__modal__container #cc__policy__inner{
        margin: 0;
        border-radius: 0;
    }

	#cc__modal__container #cc__policy__content{
		padding: 1.3em;
    }
    
	#cc__modal__container #cc__policy__header{
        padding: 1.2em 1.3em;
    }
	
	#cc__modal__container .sc_container_checkbox{
		display: block;
		padding: 0;
		margin: 0 0 2em 0; 
    }
    
    /** dynamic table layout **/
    #cc__modal__container #cc__policy__content table { 
        width: 100%; 
    }

    /* Force table to not be like tables anymore */
    #cc__modal__container #cc__policy__content table, 
    #cc__modal__container #cc__policy__content table thead, 
    #cc__modal__container #cc__policy__content table tbody, 
    #cc__modal__container #cc__policy__content table th, 
    #cc__modal__container #cc__policy__content table td, 
    #cc__modal__container #cc__policy__content table tr { 
        display: block; 
    }

    #cc__modal__container #cc__policy__content table th{
        display: none;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #cc__modal__container #cc__policy__content table thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #cc__modal__container #cc__policy__content table td { 
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 50%; 
    }

    #cc__modal__container #cc__policy__content table td:before { 
        position: absolute;
        left: 1em;
        width: 43%;
        padding-right: 0.625em;
        white-space: nowrap;
        content: attr(data-column);
        color: #000;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #cc__modal__container .sc_container_checkbox .sc_checkmark {
        height: 1.4em;
        width: 1.4em;
        border-radius: 0.3em;
    }

    #cc__modal__container .sc_container_checkbox .sc_checkmark::after{
        left: 0.54em;
        top: 0.2em;
        width: 0.22em;
        height: 0.70em;
        border-width: 0 0.13em 0.13em 0;
    }

    #cc__modal__container #cc__modal.cc__show .cc_button,
    #cc__modal__container .cc__show .cc_button,
    #cc__modal__container #cc__modal .cc__link{
        width: 100%;
        margin-right: 0;
    }
}