#cc__modal{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: inherit;
    padding: 30px 40px;
    position: fixed;
    z-index: 100;
    background: #fff;
    color: #000;
    width: 420px;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 10px 30px #c4cbda;
    box-shadow: 0 10px 30px rgba(57,62,72,.22);
    opacity: 0;
    visibility: hidden;
    transform: scale(.95);
    border-radius: 4px;
    transition: none;
}

#cc__modal.cc__anim{
    display: block;
    transition: transform .4s cubic-bezier(0.5,0,0,1.25), opacity .4s ease, visibility .4s ease;
    visibility: hidden;
    opacity: 0;
    transform: scale(.95);
}

#cc__modal.cc__anim.cc__show{
    opacity: 1;
    visibility: visible!important;
    transform: scale(1);
}

.ie #cc__modal{
    border: 1px solid #f1f2f6;
}

#cc__modal__title{
    color: inherit;
    margin: 0 0 16px 0;
    font-weight: 700;
}

#cc__modal__text{
    margin-bottom: 26px;
    font-size: 15px;
    font-family: inherit;
    line-height: 22px;
}

#cc__modal__accept__btn{
    border: none;
    padding: 12px 30px 11px 30px;
    background: #ffda30;
    color: #000;
    margin-bottom: 10px;
    display: inline-block;
    outline: 0;
    box-shadow: 0 0 0 0 transparent;
    margin-right: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: none;
    font-weight: 600;
}
.cc__show #cc__modal__accept__btn{
    transition: background-color .25s ease, color .25s ease, box-shadow .25s ease;
}

#cc__modal__accept__btn:hover{
    background: #e7c52e;
    box-shadow: 0 0 0 4px #fff0ad;
}

#cc__modal__accept__btn:active{
    background: #9e9e9e;
    box-shadow: 0 0 0 4px #dfdfdf;
}

.cc__link{
    text-decoration: underline;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

@media screen and (max-width: 1050px){
    #cc__modal{
        width: 100%;
        margin: 0;
        padding: 30px 10%;
        right: 0;
        bottom: 0;
        border-radius: 0;
        display: block;
    }
}