#cc__modal__container,
#cc__modal__container #cc__modal{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#cc__modal__container input, 
#cc__modal__container p,
#cc__modal__container h1,
#cc__modal__container h2,
#cc__modal__container h3,
#cc__modal__container h4,
#cc__modal__container div{
    margin: 0;
    padding: 0;
}

#cc__modal__container button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#cc__modal__container #cc__modal{
    font-family: inherit;
    padding: 30px 40px;
    position: fixed;
    z-index: 100;
    background: #fff;
    color: #000;
    width: 421px;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 10px 30px #c4cbda;
    box-shadow: 0 10px 30px rgba(57,62,72,.22);
    opacity: 0;
    visibility: hidden;
    transform: scale(.95);
    border-radius: 4px;
    transition: none;
    line-height: initial;
    line-break: anywhere;
}

#cc__modal__container #cc__modal button,
#cc__modal__container #cc__modal a{
    width: auto;
    height: auto;
    line-height: initial;
    text-decoration: initial;
    background: none;
    border: initial;
    outline: none;
    background-color: initial;
    color: initial;
    transition: none;
}

#cc__modal__container #cc__modal.cc__anim{
    transition: transform .4s cubic-bezier(0.5,0,0,1.25), opacity .4s ease, visibility .4s ease;
}

#cc__modal__container #cc__modal.cc__anim.cc__show{
    opacity: 1;
    visibility: visible!important;
    transform: scale(1);
}

.ie #cc__modal{
    border: 1px solid #f1f2f6;
}

#cc__modal__container #cc__modal__title{
    color: inherit;
    margin: 0 0 16px 0;
    font-weight: 700;
}

#cc__modal__container #cc__modal__text{
    margin-bottom: 26px;
    font-size: 15px;
    font-family: inherit;
    line-height: 22px;
}

#cc__modal__container #cc__modal #cc__modal__accept__btn,
#cc__modal__container #cc__policy__save__btn{
    border: none;
	padding: 14px 30px 13px 30px;
    background: #ffda30;
    color: #000;
    margin-bottom: 10px;
    display: inline-block;
    outline: 0;
    box-shadow: 0 0 0 0 transparent;
    margin-right: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: none;
    font-weight: 600;
}

#cc__modal__container #cc__modal.cc__show #cc__modal__accept__btn,
#cc__modal__container .cc__show #cc__policy__save__btn{
    transition: background-color .25s ease, color .25s ease, box-shadow .25s ease;
}

#cc__modal__container #cc__modal #cc__modal__accept__btn:hover,
#cc__modal__container #cc__policy__save__btn:hover{
    background: #e7c52e;
    box-shadow: 0 0 0 4px #fff0ad;
}

#cc__modal__container #cc__modal #cc__modal__accept__btn:active,
#cc__modal__container #cc__policy__save__btn:active{
    background: #9e9e9e;
    box-shadow: 0 0 0 4px #dfdfdf;
}

#cc__modal__container #cc__modal .cc__link{
    text-decoration: underline;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

/**
CookieConsent policy
**/
#cc__modal__container #cc__policy__container{ /** have to add overflow hidden to body**/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background: rgba(0, 0, 0 , 0.45);
    display: table;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: none; 
}

#cc__modal__container #cc__policy__content .ccp_section{
    padding: 15px 0;
    margin-bottom: 10px;
}

#cc__modal__container #cc__policy__container h2{
    margin-bottom: 15px;
}

#cc__modal__container #cc__policy__container p{
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.3em;
}

#cc__modal__container #cc__policy__container input{
    -webkit-appearance: auto;
}

#cc__modal__container #cc__policy__container.cc__blur{
    backdrop-filter: blur(2px);
}

#cc__modal__container #cc__policy__container.cc__anim{
    transition: background-color .3s ease, visibility .3s ease, opacity .3s ease, backdrop-filter .3s ease;
}

#cc__modal__container #cc__policy__container.cc__anim.cc__show{
    opacity: 1;
    visibility: visible!important;
}

#cc__modal__container #cc__valign{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 20px;
}

#cc__modal__container #cc__policy{
    background: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 30PX;
    border-radius: 4px;
    transform: scale(.95);
    transition: transform .4s cubic-bezier(0.5,0,0,1.25), opacity .4s ease, visibility .4s ease;
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    height: 100%;
    max-height: 600px;
}

#cc__modal__container #cc__policy__content{
    overflow-y: auto;
    margin: 30px;
    position: absolute;
    top: 60px;
    bottom: 0;
    padding: 0;
    left: 0;
    right: 0;
    padding: 0px 30px 30px 4px;
}

#cc__modal__container #cc__policy__header{
    display: table;
    position: absolute;
    left: 34px;
    right: 30px;
    top: 30px;
}
#cc__modal__container #cc__policy__title{
    display: table-cell;
    vertical-align: middle;
    font-size: 1em;
}

#cc__modal__container #cc__policy__close__btn{
    display: table-cell;
    float: right;
    padding: 0;
    width: 36px;
    height: 36px;
    border: none;
    background: #ffda30;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 0 0 transparent;
    cursor: pointer;
    transition: box-shadow .25s ease, background-color .25s ease;
}

#cc__modal__container #cc__policy__close__btn:hover{
    background: #dbbc2e;
    box-shadow: 0 0 0 4px #ffefa6;
}

#cc__modal__container #cc__policy__text{
    height: 500px;
    overflow-y: auto;
    margin-top: 20px;
}

#cc__modal__container .cc__anim.cc__show #cc__policy{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

/** funzia solo x chrome **/
#cc__modal__container #cc__policy__content::-webkit-scrollbar{
    height: 100%;
    background-color: #ffffff;
    border-radius: 0 4px 4px 0;
}
  
#cc__modal__container #cc__policy__content::-webkit-scrollbar-thumb{
    height: 6px;
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #a0a4a8;
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#cc__modal__container #cc__policy__content::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
  
#cc__modal__container #cc__policy__content::-webkit-scrollbar-corner {
    background-color: transparent;
}
  
/** end custom scrollbar **/

@media screen and (max-width: 1000px){
    #cc__modal__container #cc__modal{
        width: 100%;
        margin: 0;
        padding: 30px 10%;
        right: 0;
        bottom: 0;
        border-radius: 0;
        display: block;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 688px) {
    #cc__modal__container #cc__valign {
        padding: 0;
    }

    #cc__modal__container #cc__policy{
        border-radius: 0;
		max-height: 100%;
    }

    #cc__modal__container #cc__policy__header{
        left: 24px;
        right: 20px;
    }

    #cc__modal__container #cc__policy__content{
        margin: 20px;
    }
}