<header>
    <h1 class="page-title">CookieConsent v3<span data-latest-release data-minor-release class="fade-in title__minor-version">x.x</span></h1>
    <h2 class="page-subtitle">A lightweight, GDPR and CCPA compliant Consent Management Tool written in vanilla JS.</h2>

    <p>
        <a href="https://cookieconsent.orestbida.com/" target="_blank" rel="noopener noreferrer">Documentation</a>
        <a href="https://stackblitz.com/@orestbida/collections/cookieconsent-v3" target="_blank" rel="noopener noreferrer">Live demos</a>
    </p>
</header>