---
import '../../../styles/custom-themes/dark-turquoise.scss'
import '../../../styles/custom-themes/light-funky.scss'
import '../../../styles/custom-themes/elegant-black.scss'

import ShikiHighlight from '../ShikiHighlight.astro'
import DocsLink from '../DocsLink.astro'
---
<section class="themes-section">
    <div class="section__header">
        <div class="section-title">
            <h3>
                Themes
                <DocsLink docSection="advanced/ui-customization.html#color-schemes" label='Themes documentation'/>
            </h3>
        </div>
        <div class="section-description"></div>
    </div>
    <div class="section__body">
        <div class="themes grid">
            <label for="default-light">
                <input type="radio" id="default-light" name="theme" checked/>
                <span class="input-label">
                    <span class="theme-type">(built-in)</span>
                    <span class="theme-name">Light theme</span>

                </span>
            </label>

            <label for="cc--darkmode">
                <input type="radio" id="cc--darkmode" name="theme"/>
                <span class="input-label">
                    <span class="theme-type">(built-in)</span>
                    <span class="theme-name">Dark theme</span>
                </span>
            </label>

            <label for="cc--dark-turquoise" aria-label="Dark Turquoise">
                <input type="radio" id="cc--dark-turquoise" name="theme"/>
                <span class="input-label">
                    <span class="theme-type">(custom)</span>
                    <span class="theme-name">Dark Turquoise</span>
                </span>
            </label>

            <label for="cc--light-funky">
                <input type="radio" id="cc--light-funky" name="theme"/>
                <span class="input-label">
                    <span class="theme-type">(custom)</span>
                    <span class="theme-name">Light Funky</span>
                </span>
            </label>

            <label for="cc--elegant-black">
                <input type="radio" id="cc--elegant-black" name="theme"/>
                <span class="input-label">
                    <span class="theme-type">(custom)</span>
                    <span class="theme-name">Elegant Black</span>
                </span>
            </label>
        </div>
        <div class="css-variables">
            <div class="custom-themes">
                <ShikiHighlight code={`
                    <!--SHIKI language="css" details title="Dark Turquoise (CSS)" lineNumbers
                    .cc--dark-turquoise {
                        color-scheme: dark;

                        --cc-bg: #161a1c;
                        --cc-primary-color: rgb(239, 244, 246);
                        --cc-secondary-color: #b1bdc3;
                        --cc-btn-primary-bg: #60fed2;
                        --cc-btn-primary-color: #000;
                        --cc-btn-primary-hover-bg: #4dd4ae;
                        --cc-btn-primary-hover-color: #000;
                        --cc-btn-secondary-bg: #242c31;
                        --cc-btn-secondary-color: var(--cc-primary-color);
                        --cc-btn-secondary-hover-bg: #d4dae0;
                        --cc-btn-secondary-hover-color: #000;
                        --cc-cookie-category-block-bg: #1e2428;
                        --cc-cookie-category-block-border: #1e2428;
                        --cc-cookie-category-block-hover-bg: #242c31;
                        --cc-cookie-category-block-hover-border: #242c31;
                        --cc-cookie-category-expanded-block-hover-bg: #242c31;
                        --cc-cookie-category-expanded-block-bg: #1e2428;
                        --cc-toggle-readonly-bg: #343e45;
                        --cc-overlay-bg: rgba(4, 6, 8, .85)!important;
                        --cc-toggle-on-knob-bg: var(--cc-bg);
                        --cc-toggle-readonly-knob-bg: var(--cc-cookie-category-block-bg);
                        --cc-separator-border-color: #222a30;
                        --cc-footer-border-color: #212529;
                        --cc-footer-bg: #0f1112;
                    }
                    -->`
                } />

                <ShikiHighlight code={`
                    <!--SHIKI language="css" details title="Light Funky (CSS)" lineNumbers
                    .cc--light-funky {
                        --cc-bg: #f9faff;
                        --cc-primary-color: #112954;
                        --cc-secondary-color: #112954;
                        --cc-btn-primary-bg: #3859d0;
                        --cc-btn-primary-color: var(--cc-bg);
                        --cc-btn-primary-hover-bg: #213657;
                        --cc-btn-primary-hover-color: #fff;
                        --cc-btn-secondary-bg: #dfe7f9;
                        --cc-btn-secondary-color: var(--cc-secondary-color);
                        --cc-btn-secondary-hover-bg: #c6d1ea;
                        --cc-btn-secondary-hover-color: #000;
                        --cc-cookie-category-block-bg: #ebeff9;
                        --cc-cookie-category-block-border: #ebeff9;
                        --cc-cookie-category-block-hover-bg: #dbe5f9;
                        --cc-cookie-category-block-hover-border: #dbe5f9;
                        --cc-cookie-category-expanded-block-hover-bg: #ebeff9;
                        --cc-cookie-category-expanded-block-bg: #ebeff9;
                        --cc-overlay-bg: rgba(219, 232, 255, 0.85)!important;
                        --cc-toggle-readonly-bg: #cbd8f1;
                        --cc-toggle-on-knob-bg: var(--cc-bg);
                        --cc-toggle-off-bg: #8fa8d6;
                        --cc-toggle-readonly-knob-bg: var(--cc-bg);
                        --cc-separator-border-color: #f1f3f5;
                        --cc-footer-border-color: #f1f3f5;
                        --cc-footer-bg: var(--cc-bg);
                        --cc-btn-border-radius: 1rem .6rem 1.3rem .5rem / .5rem 1rem;
                        --cc-modal-border-radius: var(--cc-btn-border-radius);
                        --cc-pm-toggle-border-radius: var(--cc-btn-border-radius);
                    }
                    -->`
                }/>

                <ShikiHighlight code={`
                    <!--SHIKI language="css" details title="Elegant Black (CSS)" lineNumbers
                    .cc--elegant-black {
                        color-scheme: dark;

                        --cc-bg: #000;
                        --cc-primary-color: rgb(239, 244, 246);
                        --cc-secondary-color: #b1bdc3;
                        --cc-btn-primary-bg: #ffffff;
                        --cc-btn-primary-color: #000;
                        --cc-btn-primary-hover-bg: #ccd4d8;
                        --cc-btn-primary-hover-color: #000;
                        --cc-btn-secondary-bg: rgba(255, 255, 255, 0.039);
                        --cc-btn-secondary-color: var(--cc-primary-color);
                        --cc-btn-secondary-border-color: #252729;
                        --cc-btn-secondary-hover-bg: #252729;
                        --cc-btn-secondary-hover-color: #fff;
                        --cc-btn-secondary-hover-border-color: #252729;
                        --cc-cookie-category-block-bg: #101111;
                        --cc-cookie-category-block-border: #1d1e1f;
                        --cc-cookie-category-block-hover-bg: #161617;
                        --cc-cookie-category-block-hover-border: #1d1e1f;
                        --cc-cookie-category-expanded-block-hover-bg: #1d1e1f;
                        --cc-cookie-category-expanded-block-bg: #101111;
                        --cc-toggle-readonly-bg: #2f3132;
                        --cc-overlay-bg: rgba(0, 0, 0, 0.88)!important;
                        --cc-toggle-on-knob-bg: var(--cc-bg);
                        --cc-toggle-readonly-knob-bg: var( --cc-cookie-category-block-bg);
                        --cc-separator-border-color: #252729;
                        --cc-footer-border-color: #212529;
                        --cc-footer-bg: #000;
                    }

                    .cc--elegant-black #cc-main .cm,
                    .cc--elegant-black #cc-main .pm {
                        border: 1px solid var(--cc-separator-border-color);
                    }
                    -->`
                }/>
            </div>
        </div>
    </div>
</section>